.User-page {
  height: 400px;
  width: 40vw;
  margin-top: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.User-post {
  padding-bottom: 10px;
}

.User-posttext {
  font-size: 14px;
}

.User-postdate {
  font-size: 10px;
}

.User-addPost {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  margin: 0;
  margin-bottom: 10px;
}