.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: 
    "...    header    ..."
    "...    content   ..."
    "....   footer    ...";
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  grid-area: header;
}

.App-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-footer {
  grid-area: footer;
  font-size: 10px;
}

a {
  color: whitesmoke;
}